

*{
    margin: 0;
    padding: 0;
    color: #591061;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.main-Size{
    
background-image: url(images/photo_5379646284740290184_y.jpg);
  

}


.header{

    box-shadow: 20px 20px 20px #f7e1f4;
    background-color: #f7e1f4;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 102px;
    font-size: 2.0em;
    font-weight: 300;
    color: #591061;
    cursor: auto;
     }   

#text0{
    
    position: relative;
    top: -70px;
    
}


#mav{
    
    position: relative;
    top: -40px;
    font-size: 0.8em;
    color: #591061;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}

.logo{
    position: relative;
    top: -180px;
    left: -600px;
    border-radius: 50%
    }

.img_auftor{

    background-color: black;
    height: 300px;
    width: 300px;
    margin: 30px;
    border-radius: 20px;
    margin-left: 40%;
    
    
    
}

#button_Info{
    
    
    background-color: #fa9bf0;
    height: 40px;
    width: 140px;
    text-align: center;
    line-height: 40px;
    color: black;
    margin-left: 50%;
    position: relative;
    top: -40px;
    text-decoration: none;
    font-size: 1.09em;
    border-radius: 10px;
    transition: 0.4s;
}

#button_Info:hover{
    transform: scale(1.1);
}


.main{
    margin-top: 40px;
}


.info_auftor{
    position: relative;
    top: -60px;
    font-size: 1.5em;
    margin-bottom: 50px;
    margin-top: 50px;
    transition: .5s;
    text-align: center;
    color: #75056e;
}


h1{  text-align: center;}

#hr{margin-top: 60px;}


/*                     FOOTER                         */

footer .navig{
    display: flex;
    justify-content: space-around;
}

footer .states{
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
    margin-top: 100px;
}


footer .button{
    margin-top: 40px;
    background-color: #fa9bf0;
    width: 300px;
    height: 60px;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
   border-radius: 5px;
    transition: .5s;
}

footer .button:hover{
    transform: scale(1.1);
}


/*               MEDIA QUETINS                             */



@media (max-width: 767px){
    body{
        font-size: 16px;
        line-height: 1.5;
    }
    
    b{
        font-size: 0.7em;
    }
    
    h1{
        font-size: 2em;
    }
    
    h2{
     font-size: 1.5em;   
    }
    
    .logo{
        display: none;
    }
    
    footer .navig{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    footer h2{
        margin-top: 100px;
    }
    
    footer .button:hover{
        transform: scale(1);
    }
    
    .img_auftor{
        margin-left: 100px;
        width: 200px;
        height: 200px;
    }
    
}

@media (max-width: 396px){
    b{
        font-size: 0.6em;
    }    
}

@media (max-width: 345px){
    
    footer .button{
        font-size: 0.9em;    
    }
    
    header #name{
        font-size: 0.8em;
    }
    
    header .title{
        font-size: 0.8em;
    }

}

@media (max-width: 283px){
    
    header .title{
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 767px) and (pointer: coarse){
     footer .button{
        font-size: 0.8em;    
    }
    
    header #name{
        font-size: 0.8em;
    }
    
    header .title{
        font-size: 0.8em;
    }

    #button_Info{
        font-size: 0.8em;
    }
}



