*{
    margin: 0;
    padding: 0;
    color: #591061;
}




header{
    box-shadow: 20px 20px 20px #f7e1f4; 
    height: 150px;
    width: 100%;
    background-color: #f7e1f4;
    text-align: center;
    line-height: 60px;
    
}


.logo{
    
    float: left;
    position: relative;
    top: -80px;
    margin-left: 20px;
    border-radius: 50%;

}

#text0{
    text-align: center;
    font-size: 1.3em;
    margin-top: 50px;
}

#text1{
    text-align: center;
    font-size: 1.2em;
    margin-top: 100px;
    line-height: 30px;
}


/*               FOOTER                                        */


footer{
    
    height: 400px;
    width: 100%;
    background-color:  #f7e1f4;
    margin-top: 100px;
   
    
}

.container-footer{
    display: flex;
    justify-content: center;
}



#go-Main{
    text-decoration: none;
    text-align: left;
    height: 30px;
    width: 100px;
    padding: 2px silver;
    background-color: white;
    color: black;
    line-height: 30px;
    border-radius: 10px;
    font-size: 1.1em;
    bottom: -10px;
    transition: .6s;
    
}

#go-Main:hover{
    background-color: silver;
    transform: scale(1.1);
    
    
}
    
    
    
    
#text-footer-1{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 100px;
}   
    
/*       soc-sety                                 */
    
#soc-sety-footer{
    width: 300px;
    height: 200px;   
    text-align: center;
    padding: 0 100px;
}

#soc-sety-footer .soc-sety-icon{
    display: flex;
    justify-content: center;
}


#text33{
   font-size: 1.2em;

}
     
    
#vk , #tgram{
    height: 50px;
    transition: .5s;
    border-radius: 10px;
    padding: 10px;
}

    
#vk:hover , #tgram:hover{
    transform: scale(1.1);
}


    
/*                          LS                                                  */
    
#ls-footer{
    padding: 0 100px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
    
#ls-vk{
    
    width: 130px;
    height: 50px;
    background-color: #f58ef3;
    text-align: center;
    line-height: 50px;
    color: #4a0149;
    border-radius: 10px;
    transition: .5s;
}



#ls-tg{
    width: 130px;
    height: 50px;
    background-color: #f58ef3;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    color: #4a0149;
    border-radius: 10px;
    transition: .5s;
}



#ls-tg:hover , #ls-vk:hover{
    transform: scale(1.05);
}


/*                                   ДРУГИЕ СТАТЬИ                             */


#other-articles{
   text-align: center;
    padding: 0 100px;
    width: 400px;
    height: 200px; 
    text-align: center;
    
}

#text44{
font-size: 1.2em;
}

#states1{
    background-color: #f58ef3;
    color:  #4a0149;
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    right: -70px;
    border-radius: 10px;
    transition: .6s;
    margin: 20px 0;
   
    
}

#states1:hover{
    transform: scale(1.05);
}


/*                       MEDIA QUESTIONS                    */

@media (max-width: 767px){
    .logo{
        display: none;
    }
    
    h1{
        font-size: 1.3em;
    }
    
    h2{
        font-size: 1.2em;
    }
    
    .container-footer{
        flex-direction: column;
        align-items: center;
    }
    
    .img1{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 380px){
    h1{
        line-height: 1.5em;
    }
    h2{
        line-height: 1.5em;
        margin-top: 10px;
        text-decoration: underline;
    }
}

