*{
    margin: 0;
    padding: 0;
    color: #591061;
}




header{
    box-shadow: 20px 20px 20px #f7e1f4; 
    height: 150px;
    width: 100%;
    background-color: #f7e1f4;
    text-align: center;
    line-height: 60px;
    
}


.logo{
    
    float: left;
    position: relative;
    top: -80px;
    margin-left: 20px;
    border-radius: 50%;

}

#text0{
    text-align: center;
    font-size: 1.3em;
    margin-top: 50px;
}

#text1{
    text-align: center;
    font-size: 1.2em;
    margin-top: 100px;
    line-height: 30px;
}



/*               FOOTER                                        */


footer{
    
    height: 400px;
    width: 100%;
    background-color:  #f7e1f4;
    margin-top: 100px;
   
    
}


#go-Main{
text-align: left;
    height: 30px;
    width: 100px;
    padding: 2px silver;
    background-color: white;
    color: black;
    text-decoration: none;
    line-height: 30px;
    position: relative;
    right: -10px;
    border-radius: 10px;
    font-size: 1.1em;
    bottom: -10px;
    transition: .6s;
    
}

#go-Main:hover{
    background-color: silver;
    
    
}
    
    
    
    
#text-footer-1{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 100px;
}   
    
/*       soc-sety                                 */
    
#soc-sety-footer{
    
    
    width: 300px;
    height: 200px;
     position: relative;
    right: -40%;
    margin-right: 0;
    
}

#text33{
  position: relative;
    right: -20px;
   font-size: 1.2em;
}
    
#tgram{
    height: 50px;
    position: relative;
    bottom: -100px;
    left: -150px;
    border-radius: 5px;
    transition: .5s;
}
#tgram:hover{
    border-radius: 15px;
}
    
    
#vk{
    
    height: 50px;
    position: relative;
    border-radius: 5px;
    bottom: -45px;
    right: -150px;
    transition: .5s;
   
    
}  
    
    
#vk:hover{

    border-radius: 15px;
    
}
    
    
/*                          LS                                                  */
    
#ls-footer{
    
    
    width: 200px;
    height: 200px;
    margin-left: 50px;
    position: relative;
    top: -200px;
}
    
#ls-vk{
    
    width: 130px;
   height: 50px;
    background-color: #f58ef3;
    position: relative;
    right: -30px;
    bottom: -20px;
    text-align: center;
    line-height: 50px;
    color: #4a0149;
    border-radius: 10px;
    transition: .5s;
}

#ls-vk:hover{
    border-radius: 15px;
    
}

#ls-tg{
    width: 130px;
    height: 50px;
    background-color: #f58ef3;
    margin-top: 50px;
    position: relative;
    right: -30px;
     text-align: center;
    line-height: 50px;
    color: #4a0149;
    border-radius: 10px;
    transition: .5s;
}


#ls-tg:hover{
    border-radius: 15px;
    
}



/*                                   ДРУГИЕ СТАТЬИ                             */


#other-articles{
    width: 400px;
    height: 200px; 
    position: relative;
    right: -940px;
    top: -370px;
    text-align: center;
    
}

#text44{
font-size: 1.2em;
}

#states1{
    position: relative;
    bottom: -40px;
    background-color: #f58ef3;
    color:  #4a0149;
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    right: -70px;
    border-radius: 10px;
    transition: .6s;
   
    
}

#states1:hover{
border-radius: 15px;
}


